module_info.py
*.pyc
ID/
ID/*
ID_animations.py
ID_factions.py
ID_info_pages.py
ID_map_icons.py
ID_items.py
ID_meshes.py
ID_mission_templates.py
ID_menus.py
ID_parties.py
ID_presentations.py
ID_scenes.py
ID_skills.py
ID_scene_props.py
ID_scripts.py
ID_postfx_params.py
ID_sounds.py
ID_quests.py
ID_music.py
ID_party_templates.py
ID_strings.py
ID_tableau_materials.py
ID_troops.py
ID_particle_systems.py
*.pyc
__pycache__
txt

# Module compiled files
Module/actions.txt
Module/conversation.txt
Module/dialog_states.txt
Module/game_variables.txt
Module/item_kinds1.txt
Module/map_icons.txt
Module/menus.txt
Module/mission_templates.txt
Module/particle_systems.txt
Module/parties.txt
Module/party_templates.txt
Module/presentations.txt
Module/scene_props.txt
Module/scenes.txt
Module/scripts.txt
Module/simple_triggers.txt
Module/strings.txt
Module/tableau_materials.txt
Module/triggers.txt
Module/troops.txt
Module/variables.txt
Module/factions.txt
Module/info_pages.txt
Module/meshes.txt
Module/music.txt
Module/postfx.txt
Module/quests.txt
Module/quick_strings.txt
Module/skills.txt
Module/skins.txt
Module/sounds.txt
